.container {
  margin: 0 auto;
  max-width: 500px;
}
.city-description {
  text-align: center;
  color: black;
  font-size: 18px;
}

header {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

section {
  background-color: white;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}

h1, .tagline {
  text-align: center;
}

h2 {
  color: Green;
  padding-bottom: 15px;
  border-bottom: 2px solid #D29D66;
}

body {
  background-color: #F9F7F5;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: purple;
}

a:hover {
  color: orange;
}

img {
  height: 55px;
  width: 55px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
