.container {
  margin: 0 auto;
  max-width: 500px;
}

h1, .tagline {
  text-align: center;
}

h2 {
  color: Green;
  border-bottom: 2px solid orange;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

a {
  color: purple;
}

a:hover {
  color: orange;
}

img {
  height: 200px;
  width: 200px;
}
